{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<base href="/">
  <head>
  <title>iP2PGo</title>

	      <!-- first load django static tag. -->
  <link rel = "icon" type = "image/x-icon" src ="{% static "images/ip2p_png.png" %}">

  </head>
	   
	<script type="text/javascript" src="{% static 'lib/jquery/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/easing/easing.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/wow/wow.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/superfish/superfish.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/magnific-popup/magnific-popup.min.js' %}"></script>

  <!-- Contact Form JavaScript File 
  <script type="text/javascript" src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>


  
<script>
// Set the date we're counting down to
	var countDownDate = new Date("Oct 18, 2019 00:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

	  // Get today's date and time
	  var now = new Date().getTime();
	    
	  // Find the distance between now and the count down date
	  var distance = countDownDate - now;
	    
	  // Time calculations for days, hours, minutes and seconds
	  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
	    
	  // Output the result in an element with id="demo"
	  document.getElementById("demo").innerHTML = days + "Days " + " " + hours + " " + "Hours " + " "
	  + minutes + " " + "Minutes " + " " + seconds + " " +  "Seconds ";
	    
	  // If the count down is over, write some text 
	  if (distance < 0) {
		      clearInterval(x);
		      document.getElementById("demo").innerHTML = "EXPIRED";
		    }
}, 1000);

  </script>	  



  <script>
  $(document).ready(function(){
	      $("#submitButton").click(function(){
		              $("#myModal").modal();
		          });
  });
  </script>	  

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'lib/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" >
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %} " rel="stylesheet" type="">
  <link href="{% static 'css/social_share.css' %} " rel="stylesheet" type="">

    <link href="{% static 'lib/bootstrap/css/countdown.css' %} " rel="stylesheet">

  <!-- =======================================================
    Theme Name: Avilon
    Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left" style="padding:0px">
	<img width=100px" height="100px" class="img-fluid" src="{% static 'images/ip2pglobal_logo.png' %}" alt="" title="">
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
		<li class="menu-active"><a style="font-size:18px" href="#intro"><b>Home</b></a></li>
	  <li><a style="font-size:18px"href="#about"><b>Our Mission</b></a></li>
	  <li><a style="font-size:18px" href="#features"><b>Key Features</b></a></li>
	  <li><a style="font-size:18px" href="#milestone"><b>Milestone</b></a></li>
	  <li><a style="font-size:18px" href="#team"><b>Team</b></a></li>
	  <li><a style="font-size:18px" href="#partner"><b>Our Partners</b></a></li>
	  <li><a style="font-size:18px" href="#contact"><b>Contact Us</b></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

 <!--==========================
     Social Media
============================-->

      <ul class="ct-socials">
       <li>
        <a href="/" target="_blank"><i class="fa fa-twitter"></i></a>
	</li>
        <li>
        <a href="/" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
	<li>
	<a href="/" target="_blank"><i class="fa fa-telegram"></i></a>
        </li>
	<li>
	<a href="/" target="_blank"><i class="fa fa-instagram"></i></a>
	</li>
	<li>
	<a href="/" target="_blank"><i class="fa fa-youtube"></i></a>
	 </li>
	<li>
  </ul>
  <!-- social media -->


  <!--==========================
    Home Section
  ============================-->
  <section id="intro">
    <div class="intro-text">
	    <div class="col-lg-7"><br>
		    <p style="color:white; text-shadow:1px; font-size:27px "> iP2PGlobal is the ﬁrst shariah compliant peer to peer ﬁnancing platform for the global markets</p>
	    <img  width=250px" height="250px" src="{% static "images/twq_logo.png"%}" >
    <p style="color:white; text-shadow:1px">Borrowers can apply for both unsecured and secured ﬁnancing through the iP2PGlobal Platform by staking TWQ Tokens. </p>
      <!-- <a href="#about" class="btn-get-started scrollto">Read More</a> -->
      
      <a class="btn  btn-lg" style="background-color:#007542; color:white" href="{% static "images/ip2p_png.png" %}" download> WHITEPAPER</a> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a class="btn btn-lg" style="background-color:#007542; color:white" href="{% static "images/ip2p_png.png" %}" download> ONE PAGER</a>
    </div>

    <!--
    <div class="product-screens">

      <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
        <img src="img/product-screen-1.png" alt="">
      </div>

      <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
        <img src="img/product-screen-2.png" alt="">
      </div>

      <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
        <img src="img/product-screen-3.png" alt="">
      </div>

    </div>
      -->

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">Our Mission</h3>
          <span class="section-divider"></span>
         <!-- <p class="section-description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque<br>
            sunt in culpa qui officia deserunt mollit anim id est laborum
	 </p> -->
        </div>

        <div class="row">
          <div class="col-lg-6 about-img wow fadeInLeft">
		  <img src="{% static "img/about-img.jpg" %}" alt="">
          </div>

          <div class="col-lg-6 content wow fadeInRight">
		  <br><br> 
            <h3 class="text-justify">
		    iP2PGlobal Cryptocurency Financing Platform aims to re-shape personal financing by introducing Shariah compliant financing products to individuals worldwide. Offering the first unsecured crypto financing product, it will also feature a single global benchmark rate for loan pricing, a voluntary Takaful compensation fund, full KYC & AML compliance and proper e-lending documentation in addition to smart contract in order to enforced debt collectibility, furthermore financing will be in various stablecoins to encourage real world usage.              </h3>


	  </div>
        </div>

      </div>
    </section><!-- #about -->



    <!--==========================
      More Features Section
    ============================-->
    <section id="features">
      <div class="container-fluid">

        <div class="section-header">
          <h3 class="section-title">Key Features</h3>
          <span class="section-divider"></span>
	  <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
        </div>

        <div class="row">

          <div class="col-lg-6">
		  <div class="box wow fadeInLeft"><br>
			  <div class="icon"><img  width=68px" height="68px" src="{% static "images/unsecured.jpg"%}" ></div><p></p> 
             <h4 class="title"><a href="">Unsecured Financing</a></h4>
              <p class="description"> &nbsp; &nbsp; &nbsp; &nbsp;iP2PGlobal Platform will introduce an unsecured cryptocurrency ﬁnancing product. Based on our own market research, we will be the ﬁrst cryptocurrency lending platform to provide one. </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
		    <div class="icon"><img  width=100px" height="100px" src="{% static "images/shariah.png"%}" ></div>
              <h4 class="title"><a href="">Shariah Compliant</a></h4>
              <p class="description">Financing products are based on Sharia principles, targeting Muslim population of approx. at 2.18 billion. However the platform is open to everybody regardless of creed or religion.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
		    <div class="icon"><img  width=100px" height="100px" src="{% static "images/global.png"%}" ></div> 
	     <h4 class="title"><a href="">Global Platform & Global Rate </a></h4>
              <p class="description"> &nbsp; &nbsp; &nbsp; &nbsp;One single platform to match borrowers and lenders across the globe for p2p personal financing  using one global benchmark rate</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
               <div class="icon"><img  width=100px" height="100px" src="{% static "images/takaful.png"%}" ></div>
              <h4 class="title"><a href="">Takaful Reserve Fund </a></h4>
              <p class="description">We provide an option to unsecured lenders to contribute and be protected in a default situation.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><img  width=100px" height="100px" src="{% static "images/aml.png"%}" ></div> 
	     <h4 class="title"><a href="">AML & KYC Compliance</a></h4>
              <p class="description"> &nbsp; &nbsp; &nbsp; &nbsp;We have Anti Money Laundering and Know Your Customer procedures when we register borrowers and lenders onto our platform in line with best banking practices. </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><img  width=100px" height="100px" src="{% static "images/robust.png"%}" ></div> 
	     <h4 class="title"><a href="">Robust Credit Assessment </a></h4>
              <p class="description">We provide robust assessment by combining bank grade credit scoring model with social credit scoring model</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><img  width=100px" height="100px" src="{% static "images/auction.png"%}" ></div> 
             <h4 class="title"><a href="">Auction</a></h4>
              <p class="description">Two auction methods will be available: fixed rate auction and variable rate auction.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><img  width=100px" height="100px" src="{% static "images/legal.png"%}" ></div> 
             <h4 class="title"><a href="">Legal Protection & Debt Collectibility </a></h4>
              <p class="description">We require E-financing agreements to be executed which is a legal document recognise by laws in many countries, recovery process can be initiated if there is a default situation </p>
            </div>
          </div>


        </div>
      </div>
    </section><!-- #more-features -->


    <!--==========================
      Milestone Section
    ============================-->
    <section id="milestone">
      <div class="container-fluid" align="center">
        <div class="section-header">
		<br><br>	
          <h3 class="section-title">Milestone</h3>
          <span class="section-divider"></span>
        </div>
	
	<img width=1000px" height="800px" class="img-fluid" src="{% static "images/roadmap.jpg" %}" class="center-block" alt="">
        <br><br>
      </div>
    </section><!-- #milestone -->


    <!--==========================
      Our Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Our Team</h3>
          <span class="section-divider"></span>
        </div>

        <div class="row wow fadeInUp">
          <div class="col-lg-3 col-md-6">
            <div class="member">
	    <div class="pic"><img src="{% static "images/rashdan.jpg" %}" alt=""></div>
              <h4>Rashdan Ibrahim</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href="https://www.linkedin.com/in/morib/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>





          <div class="col-lg-3 col-md-6">
            <div class="member">
	      <div class="pic"><img src="{% static "images/radzi.jpg" %}" alt=""></div>
	      <h4>Muhammad Radzi</h4>
              <span>Chief Operations Officer</span>
              <div class="social">
                <a href="https://www.linkedin.com/in/rdzibr/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
	     <div class="pic"><img src="{% static "images/afdha.jpg" %}" alt=""></div>
              <h4>Afdha Yusof</h4>
              <span>Chief Marketing Officer</span>
              <div class="social">
                <a href="https://www.linkedin.com/in/dot-yusof-5b131a161"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
	    <div class="pic"><img src="{% static "images/derek.jpg" %}" alt=""></div>      
	     <h4>Derek Lee</h4>
              <span>Head of Business Development</span>
              <div class="social">
                <a href="https://www.linkedin.com/in/derekbwleeorib"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          
	   <div class="col-lg-3 col-md-6">
	   </div>	   

          <div class="col-lg-3 col-md-6">
            <div class="member">
	      <div class="pic"><img src="{% static "images/azli.jpg" %}" alt=""></div>
	      <h4>Azli Noor</h4>
              <span>Head of Legal and Compilance</span>
              <div class="social">
                <a href="https://www.linkedin.com/in/azlinoor/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
	     <div class="pic"><img src="{% static "images/james.jpg" %}" alt=""></div>
              <h4>James Loy</h4>
              <span>Head of Credit Risk Management</span>
              <div class="social">
                <a href="https://www.linkedin.com/in/james-loy-7997ba27"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- #team -->


    <!--==========================
      Our Advisor Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
	<br><br><h3 class="section-title">Our Advisor</h3>
          <span class="section-divider"></span>
        </div>
    
        <div class="row wow fadeInUp">
          <div class="col-lg-3 col-md-6">
            <div class="member">
		    <img src="{% static "images/ahcene.jpg" %}" alt=""><br><br>
	    <h4 style="text-align:center">Dr Ahcene Lahsasna</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
		    <img src="{% static "images/azzizi.jpg" %}" alt=""><br><br>
	      <h4 style="text-align:center">Azzizi Mohamad Ghazi</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
		    <img src="{% static "images/azaraie.jpg" %}" alt=""><br><br>
	     <h4 style="text-align:center">Azaraie Mohamad Ghazi</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
		    <img src="{% static "images/scott.jpg" %}" alt=""><br><br>
	    <h4 style="text-align:center">Scott Phillips</h4>
            </div>
          </div>
	  <br>
          
	   <div class="col-lg-3 col-md-6">
	   </div>	   

          <div class="col-lg-3 col-md-6">
            <div class="member">
		    <img src="{% static "images/azmin.jpg" %}" alt=""><br><br>
	      <h4 style="text-align:center">Azmin Hassan</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
		    <img src="{% static "images/rahman.jpg" %}" alt=""><br><br>
	     <h4 style="text-align:center">Abdul Rahman Ibrahim</h4>
            </div>
          </div>

    
    </section><!-- #advisor -->


    <!--==========================
      Partners Section
    ============================-->
    <section id="partner" >
      <div class="container" align="center">
        <div class="section-header">
	<br><br>   <h3 class="section-title">Our Partner</h3>
          <span class="section-divider"></span>
        </div>
	


	      <a><img src="{% static "images/ableace.png" %}" class="img-fluid"alt=""></a>

	     <a><img src="{% static "images/salihin.png" %}" class="img-fluid" alt=""></a>
	     <br><br>
      </div>
    </section><!-- #partners -->


    <!--==========================
      EXmarkets Section
    ============================-->
    <section id="team">
      <div class="container" align="center">
        <div class="section-header">
	<br><br> <h3 class="section-title">Markets</h3> 
          <span class="section-divider"></span>
        </div>

	  <h3 style="color:black">READY TO SUBSCRIBE TWQ?</h3>
	  <!-- <h4 style="color:black">It will be available on ExMarkets Launchpad</h4>
	  <img  width=300px" height="60px" src="{% static "images/exmarkets.png"%}" >
	  <h4 style="color:white">in</h4>-->	      
	
         <a class="text-info" style="font-size: 3vw"  id="demo"></a>

	     <br>
      </div>
    </section><!-- #partners -->


    <!--==========================
      
    ============================-->
    <section id="team">
      <div class="container" align="center">
        <div class="section-header">
	<br><br> <h3 class="section-title">As Seen On</h3> 
          <span class="section-divider"></span>
        </div>

	

	     <br>
      </div>
    </section><!-- #partners -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container">
        <div class="row wow fadeInUp">
        
	<div class="col-lg-4 col-md-8">
        <img  width=120px" height="120px" src="{% static "images/ip2pglobal_logo.png"%}" >
        </div>

        <div class="col-lg-2 col-md-3">
	<h5><b>Resources</b></h5>
	<a href="#about">About Us</a><br>
	<a href="">Missions</a><br>
	<a href="">Features</a><br>
	<a href="">Milestone</a><br>
	<a href="">Team</a><br>
	<a href="">Partners</a><br>
			
	</div>

	 <div class="col-lg-3 col-md-4">
	<h5><b>Help</b></h5>
	<a href="#about" style="text-color:black">FAQ</a><br>
	<a href="#" download>Whitepaper</a><br>
		<a href="#" download>Lightpaper</a><br>
			<a href="#about">Factbook</a><br>
				<a href="#about">Terms & Conditions</a><br>
	 </div>
	
	<div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="ion-ios-location-outline"></i>
		<p>Lime Tree Bay Avenue,<br>P.O.Box 2547,<br>Grand Cayman, Cayman Islands</p>
              </div>

              <div>
                <i class="ion-ios-email-outline"></i>
                <p>ip2pglobal@gmail.com</p>
              </div>

           <!--   <div>
                <i class="ion-ios-telephone-outline"></i>
                <p>+1 5589 55488 55s</p>
	   </div> -->

            </div>
          </div>


      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>2019 iP2PGlobal</strong>. All Rights Reserved
          </div>
	<!--
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
	-->
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->

</body>
</html>
